@import "./../Abstracts/variables";
@import "./../Abstracts/functions";
@import "./../Abstracts/mixins";

body {
    background-color: color("light");
    color: color("dark");
}

main{
    margin-top: 82px;

    @include desktop {
        margin-top: 127px;
    }
}