@import "./../Abstracts/variables";
@import "./../Abstracts/functions";
@import "./../Abstracts/mixins";

body {
  background-color: color("white");
}

main {
  z-index: 800;
  margin-top: 0;
  position: relative;
  width: 100%;
  background-color: color("white");
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main-container {
  max-width: 100%;
  z-index: 900;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 101px;
  background-color: color("white");

  @include phone {
    max-width: 1200px;
    padding-top: 117px;
  }

  .contact-area {
    @include flex-order(2);
    justify-content: center;

    @media (min-width: 1056px) {
      @include flex-order(1);
    }
  }

  .submitBtn {
    display: block;
    margin: 1rem auto;
  }

  .image-area {
    @include flex-order(1);

    @media (min-width: 1056px) {
      @include flex-order(2);
    }
  }

  .column-two-thirds {
    @include flex(100%);

    @include phone {
      @include flex(66%);
    }
  }

  h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;

    @media (min-width: 1056px) {
      margin-top: 0;
    }
  }

  .form-area {
    margin-top: 3rem;
    // margin-bottom: 1rem;

    h2 {
      margin-bottom: 0.5rem;
    }
  }

  .column-one-third {
    @include flex(100%);

    @include phone {
      @include flex(32%);
    }
  }

  .column-half {
    @include flex(100%);

    @include phone {
      @include flex(49%);
    }
  }

  .row {
    max-width: 100%;
    @include flexbox();
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include justify-content(center);
    column-gap: 2rem;

    @include phone {
      @include flex-direction(row);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
