@import "./../Abstracts/variables";
@import "./../Abstracts/functions";
@import "./../Abstracts/mixins";

body {
  background-color: color("white");
}

main {
  z-index: 800;
  margin-top: 0;
  position: relative;
  width: 100%;
  background-color: color("white");
}

.main-container {
  max-width: 100%;
  z-index: 900;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 101px;
  background-color: color("white");

  @include tablet {
    max-width: 1200px;
    padding-top: 117px;
  }
}

.grid {
  @include display-grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-right: auto;
  margin-left: auto;

  > div {
    background: color("white");
    @include display-grid;

    &::before {
      content: "";
      padding-bottom: 100%;
      display: block;
    }

    &::before,
    > a {
      grid-area: 1 / 1 / 2 / 2;
    }

    > a {
      @include display-grid;
      text-decoration: none;
      color: color("white");
      img {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 600;
      }
      .overlay {
        @include display-grid;
        justify-content: center;
        align-items: center;
        grid-area: 1 / 1 / 2 / 2;
        background-color: rgba(2, 54, 104, 0.7);
        z-index: 700;
        opacity: 0;
        transition: 0.4s ease;

        .project-text {
          padding: 3rem;

          p {
            @include flexbox();
            @include flex-wrap(wrap);
            @include justify-content(center);
            @include align-items(center);
            margin-bottom: 0;
          }

          :first-child {
            font-weight: 400;
            font-size: 2.4rem;
            text-align: center;
            margin-bottom: 1rem;
            line-height: 1.3;
          }

          :nth-child(2) {
            font-size: 1.8rem;
            font-weight: 300;
          }
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
