@import "./../Abstracts/variables";
@import "./../Abstracts/functions";
@import "./../Abstracts/mixins";

body {
  background-color: color("white");
}

main {
  z-index: 800;
  margin-top: 0;
  position: relative;
  width: 100%;
  background-color: color("white");
}

.main-container {
  max-width: 100%;
  z-index: 900;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 101px;
  background-color: color("white");

  @include tablet {
    max-width: 1200px;
    padding-top: 117px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-right: auto;
  margin-left: auto;

  > div {
    background: color("white");
    display: grid;

    &::before {
      content: "";
      padding-bottom: 100%;
      display: block;
    }

    &::before,
    > a {
      grid-area: 1 / 1 / 2 / 2;
    }

    > a {
      img {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
